<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Inventory Management</display-name>
	<welcome-file-list>
		<welcome-file>First.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EntryServlet</servlet-name>
		<servlet-class>controller.EntryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EntryServlet</servlet-name>
		<url-pattern>/entry</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StockRServlet</servlet-name>
		<servlet-class>controller.StockRServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockRServlet</servlet-name>
		<url-pattern>/StockRServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StockListServlet</servlet-name>
		<servlet-class>controller.StockListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockListServlet</servlet-name>
		<url-pattern>/List</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SalesServlet</servlet-name>
		<servlet-class>controller.SalesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SalesServlet</servlet-name>
		<url-pattern>/sales</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaleReturnServlet</servlet-name>
		<servlet-class>controller.SaleReturnServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaleReturnServlet</servlet-name>
		<url-pattern>/return</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>controller.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/Add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ChangeServlet</servlet-name>
		<servlet-class>controller.ChangeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangeServlet</servlet-name>
		<url-pattern>/Change</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaleArtServlet</servlet-name>
		<servlet-class>controller.SaleArtServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaleArtServlet</servlet-name>
		<url-pattern>/Sale</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaleDateServlet</servlet-name>
		<servlet-class>controller.SaleDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaleDateServlet</servlet-name>
		<url-pattern>/Date</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StockReportServlet</servlet-name>
		<servlet-class>controller.StockReportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StockReportServlet</servlet-name>
		<url-pattern>/StrByArt</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StrByDateServlet</servlet-name>
		<servlet-class>controller.StrByDateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StrByDateServlet</servlet-name>
		<url-pattern>/StrByDate</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CompansateServlet</display-name>
		<servlet-name>CompansateServlet</servlet-name>
		<servlet-class>controller.CompansateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompansateServlet</servlet-name>
		<url-pattern>/comp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>controller.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ForgotServlet</servlet-name>
		<servlet-class>controller.ForgotServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForgotServlet</servlet-name>
		<url-pattern>/forgot</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
</web-app>